/*-- scss:defaults --*/

$theme: "cosmo" !default;

// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "楷体", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           Georgia, "楷体", Cambria, "Times New Roman", Times, serif !default;
// stylelint-enable
